{% extends "base.html" %}

{% block content %}

<div id="text_polishing" style="text-align:center;">
    <h2>
        <a href="/" >HOME</a>
        <a href="/run" >RUN</a>
    </h2>
    <h2>About</h2>
    Enhance existing texts effortlessly using GenAI's prowess, rectifying spelling, grammar, and structural errors within documents like contracts and proposals. 
    Input text, undergo GenAI processing, and receive refined content, reducing manual review time and ensuring superior text structure. GenAI's functionality elevates content quality, streamlining communication and professional presentation.
    <p class="paragraph">
        <h3>Business challenge</h3>
         The refinement of pre-existing texts utilizing the formidable capabilities of GenAI. 
        <h3>Demo solution</h3> 
        This ingenious technology seamlessly rectifies any existing flaws encompassing spelling, grammar, textual coherence, 
        and sentence structure within a diverse array of documents, including contracts, technical assessments, and business proposals.
        <h3>How does it work?</h3> 
        Upon inputting a text into the designated textbox and subjecting it to GenAI's adept processing, the output emerges impeccably enhanced. 
        Correcting spelling and grammar mistakes, as well as elevating the fluidity of the text and intricacy of sentence structures.
        <h3>Results and impact</h3> 
        Significantly slashes the need for arduous manual text review and revision but also elevates the textual composition itself, 
        ushering in a new era of professionalism.
        <br>
        <br>
        <b>Authors:</b> Neetu Pundir, Ivana V. Alen <br>
        <b>Contact:</b><i>Reach out to the GenAI team of the Accenture Google Business Group (ASG) at </i><a href="mailto:AGBG.ASG.GenAI@accenture.com">AGBG.ASG.GenAI@accenture.com</a>

    </p>    
</div>


{% endblock %}